* {
  margin: 0;
}

:root {
  background-color: #f6f6f6;
  color: #2f2f2f;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
}

:root * {
  border: 1px red solid;
}

h1 {
  text-align: center;
}